body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:373px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3527_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3527 {
  position:absolute;
  left:111px;
  top:35px;
  width:91px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3528 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u3529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:468px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:44px;
}
#u3529 {
  position:absolute;
  left:119px;
  top:82px;
  width:254px;
  height:468px;
  font-size:16px;
  line-height:44px;
}
#u3530 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
