body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  height:1099px;
}
#u32 {
  position:absolute;
  left:50px;
  top:-37px;
  width:791px;
  height:1099px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:791px;
  word-wrap:break-word;
}
