body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1047px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:217px;
}
#u2242 {
  position:absolute;
  left:452px;
  top:1007px;
  width:589px;
  height:217px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:100px;
  width:585px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2244 {
  position:absolute;
  left:25px;
  top:54px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2246 {
  position:absolute;
  left:618px;
  top:166px;
  width:63px;
  height:14px;
  font-family:'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:735px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2248 {
  position:absolute;
  left:598px;
  top:133px;
  width:376px;
  height:735px;
}
#u2249 {
  position:absolute;
  left:2px;
  top:360px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2250 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2251 {
  position:absolute;
  left:598px;
  top:107px;
  width:376px;
  height:42px;
}
#u2252 {
  position:absolute;
  left:2px;
  top:13px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2254 {
  position:absolute;
  left:886px;
  top:122px;
  width:17px;
  height:15px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2256 {
  position:absolute;
  left:902px;
  top:122px;
  width:9px;
  height:15px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:7px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2258 {
  position:absolute;
  left:910px;
  top:125px;
  width:4px;
  height:7px;
}
#u2259 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2260 {
  position:absolute;
  left:919px;
  top:120px;
  width:63px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2261 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u2262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u2262 {
  position:absolute;
  left:706px;
  top:119px;
  width:27px;
  height:19px;
}
#u2263 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2264 {
  position:absolute;
  left:607px;
  top:122px;
  width:59px;
  height:18px;
  color:#FFFFFF;
}
#u2265 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2266 {
  position:absolute;
  left:636px;
  top:163px;
  width:75px;
  height:22px;
  font-size:18px;
}
#u2267 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:44px;
}
#u2268 {
  position:absolute;
  left:605px;
  top:147px;
  width:20px;
  height:39px;
  font-size:44px;
}
#u2269 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u2270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u2270 {
  position:absolute;
  left:932px;
  top:163px;
  width:31px;
  height:18px;
}
#u2271 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2272 {
  position:absolute;
  left:695px;
  top:213px;
  width:352px;
  height:117px;
}
#u2273 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u2274 {
  position:absolute;
  left:621px;
  top:290px;
  width:330px;
  height:1px;
}
#u2275 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:2px;
}
#u2276 {
  position:absolute;
  left:621px;
  top:339px;
  width:330px;
  height:1px;
}
#u2277 {
  position:absolute;
  left:2px;
  top:-8px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2278_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:44px;
  height:43px;
}
#u2278 {
  position:absolute;
  left:632px;
  top:470px;
  width:38px;
  height:37px;
}
#u2279 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2280_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:44px;
  height:43px;
}
#u2280 {
  position:absolute;
  left:907px;
  top:470px;
  width:38px;
  height:37px;
}
#u2281 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2282_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:44px;
  height:43px;
}
#u2282 {
  position:absolute;
  left:679px;
  top:470px;
  width:38px;
  height:37px;
}
#u2283 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2284_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:44px;
  height:43px;
}
#u2284 {
  position:absolute;
  left:723px;
  top:470px;
  width:38px;
  height:37px;
}
#u2285 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:44px;
  height:43px;
}
#u2286 {
  position:absolute;
  left:770px;
  top:470px;
  width:38px;
  height:37px;
}
#u2287 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2288_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:44px;
  height:43px;
}
#u2288 {
  position:absolute;
  left:816px;
  top:470px;
  width:38px;
  height:37px;
}
#u2289 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_img {
  position:absolute;
  left:-2px;
  top:-1px;
  width:44px;
  height:43px;
}
#u2290 {
  position:absolute;
  left:861px;
  top:470px;
  width:38px;
  height:37px;
}
#u2291 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2292 {
  position:absolute;
  left:639px;
  top:482px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2294 {
  position:absolute;
  left:913px;
  top:481px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2295 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:6px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2296 {
  position:absolute;
  left:868px;
  top:483px;
  width:25px;
  height:6px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2297 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2298 {
  position:absolute;
  left:776px;
  top:483px;
  width:29px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2300 {
  position:absolute;
  left:822px;
  top:482px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2301 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2302 {
  position:absolute;
  left:729px;
  top:482px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2303 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2304 {
  position:absolute;
  left:684px;
  top:482px;
  width:27px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u2306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2306 {
  position:absolute;
  left:624px;
  top:430px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2307 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u2308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2308 {
  position:absolute;
  left:706px;
  top:430px;
  width:193px;
  height:19px;
  font-size:16px;
}
#u2309 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
  line-height:40px;
}
#u2310 {
  position:absolute;
  left:624px;
  top:524px;
  width:423px;
  height:241px;
  font-size:16px;
  color:#000000;
  line-height:40px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  word-wrap:break-word;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2312 {
  position:absolute;
  left:613px;
  top:419px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2313 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2314 {
  position:absolute;
  left:613px;
  top:513px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2315 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2316 {
  position:absolute;
  left:613px;
  top:683px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2317 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2318 {
  position:absolute;
  left:613px;
  top:558px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2319 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2320 {
  position:absolute;
  left:613px;
  top:602px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2321 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2322 {
  position:absolute;
  left:613px;
  top:644px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2324 {
  position:absolute;
  left:613px;
  top:723px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2325 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u2326 {
  position:absolute;
  left:945px;
  top:538px;
  width:8px;
  height:12px;
  color:#666666;
}
#u2327 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u2328 {
  position:absolute;
  left:944px;
  top:580px;
  width:8px;
  height:12px;
  color:#666666;
}
#u2329 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2330 {
  position:absolute;
  left:908px;
  top:613px;
  width:43px;
  height:21px;
}
#u2331 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2332 {
  position:absolute;
  left:908px;
  top:613px;
  width:21px;
  height:21px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  position:absolute;
  left:908px;
  top:655px;
  width:43px;
  height:21px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2336 {
  position:absolute;
  left:932px;
  top:655px;
  width:21px;
  height:21px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2338 {
  position:absolute;
  left:908px;
  top:694px;
  width:43px;
  height:21px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2340 {
  position:absolute;
  left:932px;
  top:694px;
  width:21px;
  height:21px;
}
#u2341 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2342 {
  position:absolute;
  left:908px;
  top:739px;
  width:43px;
  height:21px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2344 {
  position:absolute;
  left:932px;
  top:739px;
  width:21px;
  height:21px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2346 {
  position:absolute;
  left:613px;
  top:855px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2347 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2348 {
  position:absolute;
  left:613px;
  top:773px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2349 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:2px;
}
#u2350 {
  position:absolute;
  left:613px;
  top:768px;
  width:340px;
  height:1px;
  opacity:0.5;
}
#u2351 {
  position:absolute;
  left:2px;
  top:-8px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2352 {
  position:absolute;
  left:624px;
  top:783px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2353 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2354 {
  position:absolute;
  left:624px;
  top:826px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2356 {
  position:absolute;
  left:848px;
  top:826px;
  width:91px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u2358 {
  position:absolute;
  left:897px;
  top:780px;
  width:42px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u2359 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u2360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u2360 {
  position:absolute;
  left:945px;
  top:786px;
  width:8px;
  height:12px;
  color:#666666;
}
#u2361 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u2362 {
  position:absolute;
  left:944px;
  top:829px;
  width:8px;
  height:12px;
  color:#666666;
}
#u2363 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:21px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2364 {
  position:absolute;
  left:913px;
  top:430px;
  width:43px;
  height:21px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2366 {
  position:absolute;
  left:937px;
  top:430px;
  width:21px;
  height:21px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2368 {
  position:absolute;
  left:612px;
  top:416px;
  width:349px;
  height:436px;
}
#u2369 {
  position:absolute;
  left:2px;
  top:210px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u2370 {
  position:absolute;
  left:631px;
  top:435px;
  width:97px;
  height:29px;
  font-size:24px;
}
#u2371 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2372 {
  position:absolute;
  left:629px;
  top:516px;
  width:321px;
  height:1px;
  opacity:0.5;
}
#u2373 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2374 {
  position:absolute;
  left:629px;
  top:673px;
  width:321px;
  height:1px;
  opacity:0.5;
}
#u2375 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2376 {
  position:absolute;
  left:629px;
  top:730px;
  width:321px;
  height:1px;
  opacity:0.5;
}
#u2377 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2378 {
  position:absolute;
  left:629px;
  top:619px;
  width:321px;
  height:1px;
  opacity:0.5;
}
#u2379 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2380 {
  position:absolute;
  left:629px;
  top:782px;
  width:321px;
  height:1px;
  opacity:0.5;
}
#u2381 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2382 {
  position:absolute;
  left:629px;
  top:567px;
  width:321px;
  height:1px;
  opacity:0.5;
}
#u2383 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2384 {
  position:absolute;
  left:636px;
  top:483px;
  width:52px;
  height:23px;
  font-size:20px;
}
#u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2386 {
  position:absolute;
  left:638px;
  top:533px;
  width:52px;
  height:23px;
  font-size:20px;
}
#u2387 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2388 {
  position:absolute;
  left:639px;
  top:747px;
  width:63px;
  height:23px;
  font-size:20px;
}
#u2389 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2390 {
  position:absolute;
  left:639px;
  top:695px;
  width:63px;
  height:23px;
  font-size:20px;
}
#u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2392 {
  position:absolute;
  left:637px;
  top:640px;
  width:63px;
  height:23px;
  font-size:20px;
}
#u2393 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2394 {
  position:absolute;
  left:636px;
  top:586px;
  width:63px;
  height:23px;
  font-size:20px;
}
#u2395 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u2396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2396 {
  position:absolute;
  left:915px;
  top:485px;
  width:22px;
  height:22px;
}
#u2397 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2398 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u2399 {
  position:absolute;
  left:912px;
  top:533px;
  width:28px;
  height:28px;
}
#u2400 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u2401 {
  position:absolute;
  left:918px;
  top:540px;
  width:15px;
  height:15px;
}
#u2402 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2403 {
  position:absolute;
  left:915px;
  top:585px;
  width:22px;
  height:22px;
}
#u2404 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2405 {
  position:absolute;
  left:915px;
  top:638px;
  width:22px;
  height:22px;
}
#u2406 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2407 {
  position:absolute;
  left:915px;
  top:696px;
  width:22px;
  height:22px;
}
#u2408 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u2409 {
  position:absolute;
  left:915px;
  top:751px;
  width:22px;
  height:22px;
}
#u2410 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
  color:#0099FF;
}
#u2411 {
  position:absolute;
  left:758px;
  top:807px;
  width:51px;
  height:29px;
  font-size:25px;
  color:#0099FF;
}
#u2412 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u2413 {
  position:absolute;
  left:452px;
  top:773px;
  width:122px;
  height:109px;
}
#u2414 {
  position:absolute;
  left:2px;
  top:46px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2415 {
  position:absolute;
  left:470px;
  top:882px;
  width:125px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2416 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2417 {
  position:absolute;
  left:567px;
  top:42px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2418 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u2419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2419 {
  position:absolute;
  left:518px;
  top:941px;
  width:385px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2420 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
#u2421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2421 {
  position:absolute;
  left:489px;
  top:1026px;
  width:474px;
  height:151px;
  font-size:18px;
}
#u2422 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u2423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2423 {
  position:absolute;
  left:700px;
  top:537px;
  width:30px;
  height:18px;
}
#u2424 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u2425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:802px;
}
#u2425 {
  position:absolute;
  left:25px;
  top:107px;
  width:450px;
  height:802px;
}
#u2426 {
  position:absolute;
  left:2px;
  top:393px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2427_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:309px;
  height:23px;
}
#u2427p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:293px;
  height:3px;
}
#u2427p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:313px;
  height:23px;
}
#u2427p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2427p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:44px;
}
#u2427p002 {
  position:absolute;
  left:270px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2427p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:44px;
}
#u2427.compound {
  width:0px;
  height:0px;
}
#u2427 {
  position:absolute;
  left:351px;
  top:819px;
  width:289px;
  height:3px;
}
#u2428 {
  position:absolute;
  left:2px;
  top:-6px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
