body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:240px;
}
#u2872 {
  position:absolute;
  left:915px;
  top:929px;
  width:710px;
  height:240px;
}
#u2873 {
  position:absolute;
  left:2px;
  top:112px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:694px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2874 {
  position:absolute;
  left:140px;
  top:60px;
  width:376px;
  height:694px;
}
#u2875 {
  position:absolute;
  left:2px;
  top:339px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2876 {
  position:absolute;
  left:208px;
  top:142px;
  width:253px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2877 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:796px;
}
#u2878 {
  position:absolute;
  left:114px;
  top:929px;
  width:707px;
  height:796px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:390px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:33px;
}
#u2880 {
  position:absolute;
  left:143px;
  top:940px;
  width:661px;
  height:460px;
  font-size:18px;
  line-height:33px;
}
#u2881 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  word-wrap:break-word;
}
#u2882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u2883 {
  position:absolute;
  left:283px;
  top:622px;
  width:91px;
  height:91px;
}
#u2884 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2885 {
  position:absolute;
  left:384px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2886 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2887 {
  position:absolute;
  left:458px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2888 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2889 {
  position:absolute;
  left:421px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2890 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2891 {
  position:absolute;
  left:247px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2892 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2893 {
  position:absolute;
  left:211px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2894 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2895 {
  position:absolute;
  left:175px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2896 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2897 {
  position:absolute;
  left:288px;
  top:723px;
  width:87px;
  height:18px;
}
#u2898 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2899 {
  position:absolute;
  left:125px;
  top:13px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2900 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2901 {
  position:absolute;
  left:138px;
  top:872px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2902 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:96px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2903 {
  position:absolute;
  left:226px;
  top:292px;
  width:209px;
  height:96px;
}
#u2904 {
  position:absolute;
  left:2px;
  top:40px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2905 {
  position:absolute;
  left:255px;
  top:322px;
  width:241px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2906 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u2907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2907 {
  position:absolute;
  left:214px;
  top:445px;
  width:241px;
  height:79px;
}
#u2908 {
  position:absolute;
  left:2px;
  top:32px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2909 {
  position:absolute;
  left:276px;
  top:463px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2910 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2911 {
  position:absolute;
  left:289px;
  top:497px;
  width:89px;
  height:18px;
}
#u2912 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2913 {
  position:absolute;
  left:306px;
  top:247px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u2914 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:694px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2915 {
  position:absolute;
  left:800px;
  top:60px;
  width:376px;
  height:694px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:339px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2917 {
  position:absolute;
  left:868px;
  top:142px;
  width:253px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2918 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:96px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2919 {
  position:absolute;
  left:886px;
  top:292px;
  width:209px;
  height:96px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:40px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2921 {
  position:absolute;
  left:915px;
  top:322px;
  width:241px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2922 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u2923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2923 {
  position:absolute;
  left:868px;
  top:515px;
  width:241px;
  height:198px;
}
#u2924 {
  position:absolute;
  left:2px;
  top:91px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2925 {
  position:absolute;
  left:966px;
  top:247px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u2926 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u2927 {
  position:absolute;
  left:896px;
  top:571px;
  width:199px;
  height:18px;
  font-size:25px;
}
#u2928 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2929 {
  position:absolute;
  left:915px;
  top:622px;
  width:146px;
  height:18px;
  font-size:28px;
}
#u2930 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u2931_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:386px;
  height:23px;
}
#u2931p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:370px;
  height:3px;
}
#u2931p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:390px;
  height:23px;
}
#u2931p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2931p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:44px;
}
#u2931p002 {
  position:absolute;
  left:347px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2931p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:44px;
}
#u2931.compound {
  width:0px;
  height:0px;
}
#u2931 {
  position:absolute;
  left:434px;
  top:479px;
  width:366px;
  height:3px;
}
#u2932 {
  position:absolute;
  left:2px;
  top:-6px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u2933 {
  position:absolute;
  left:598px;
  top:426px;
  width:122px;
  height:109px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:46px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2935 {
  position:absolute;
  left:617px;
  top:540px;
  width:125px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2936 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2937 {
  position:absolute;
  left:788px;
  top:13px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2938 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u2939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:33px;
}
#u2939 {
  position:absolute;
  left:940px;
  top:947px;
  width:676px;
  height:205px;
  font-size:18px;
  line-height:33px;
}
#u2940 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
#u2941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2941 {
  position:absolute;
  left:901px;
  top:860px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2942 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
