body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:240px;
}
#u2922 {
  position:absolute;
  left:915px;
  top:929px;
  width:710px;
  height:240px;
}
#u2923 {
  position:absolute;
  left:2px;
  top:112px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:694px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2924 {
  position:absolute;
  left:140px;
  top:60px;
  width:376px;
  height:694px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:339px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2926 {
  position:absolute;
  left:208px;
  top:142px;
  width:253px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2927 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:796px;
}
#u2928 {
  position:absolute;
  left:114px;
  top:929px;
  width:707px;
  height:796px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:390px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:33px;
}
#u2930 {
  position:absolute;
  left:143px;
  top:940px;
  width:661px;
  height:460px;
  font-size:18px;
  line-height:33px;
}
#u2931 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  word-wrap:break-word;
}
#u2932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
}
#u2933 {
  position:absolute;
  left:283px;
  top:622px;
  width:91px;
  height:91px;
}
#u2934 {
  position:absolute;
  left:2px;
  top:38px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2935 {
  position:absolute;
  left:384px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2936 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2937 {
  position:absolute;
  left:458px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2938 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2939 {
  position:absolute;
  left:421px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2940 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2941 {
  position:absolute;
  left:247px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2942 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2943 {
  position:absolute;
  left:211px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2944 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:28px;
}
#u2945 {
  position:absolute;
  left:175px;
  top:654px;
  width:22px;
  height:28px;
  color:#666666;
}
#u2946 {
  position:absolute;
  left:2px;
  top:6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2947 {
  position:absolute;
  left:288px;
  top:723px;
  width:87px;
  height:18px;
}
#u2948 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2949 {
  position:absolute;
  left:125px;
  top:13px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2951 {
  position:absolute;
  left:138px;
  top:872px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2952 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u2953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:96px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2953 {
  position:absolute;
  left:226px;
  top:292px;
  width:209px;
  height:96px;
}
#u2954 {
  position:absolute;
  left:2px;
  top:40px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2955 {
  position:absolute;
  left:255px;
  top:322px;
  width:241px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2956 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u2957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2957 {
  position:absolute;
  left:214px;
  top:445px;
  width:241px;
  height:79px;
}
#u2958 {
  position:absolute;
  left:2px;
  top:32px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2959 {
  position:absolute;
  left:276px;
  top:463px;
  width:113px;
  height:33px;
  font-size:28px;
}
#u2960 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2961 {
  position:absolute;
  left:289px;
  top:497px;
  width:89px;
  height:18px;
}
#u2962 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2963 {
  position:absolute;
  left:306px;
  top:247px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u2964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:694px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2965 {
  position:absolute;
  left:800px;
  top:60px;
  width:376px;
  height:694px;
}
#u2966 {
  position:absolute;
  left:2px;
  top:339px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2967 {
  position:absolute;
  left:868px;
  top:142px;
  width:253px;
  height:82px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u2968 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:96px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2969 {
  position:absolute;
  left:886px;
  top:292px;
  width:209px;
  height:96px;
}
#u2970 {
  position:absolute;
  left:2px;
  top:40px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2971 {
  position:absolute;
  left:915px;
  top:322px;
  width:241px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-style:normal;
}
#u2972 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  word-wrap:break-word;
}
#u2973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:198px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:16px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u2973 {
  position:absolute;
  left:868px;
  top:515px;
  width:241px;
  height:198px;
}
#u2974 {
  position:absolute;
  left:2px;
  top:91px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2975 {
  position:absolute;
  left:966px;
  top:247px;
  width:57px;
  height:33px;
  font-size:28px;
}
#u2976 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:25px;
}
#u2977 {
  position:absolute;
  left:896px;
  top:571px;
  width:199px;
  height:18px;
  font-size:25px;
}
#u2978 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2979 {
  position:absolute;
  left:915px;
  top:622px;
  width:146px;
  height:18px;
  font-size:28px;
}
#u2980 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u2981_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:386px;
  height:23px;
}
#u2981p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:370px;
  height:3px;
}
#u2981p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:390px;
  height:23px;
}
#u2981p001 {
  position:absolute;
  left:-9px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2981p001_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:44px;
}
#u2981p002 {
  position:absolute;
  left:347px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2981p002_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:44px;
  height:44px;
}
#u2981.compound {
  width:0px;
  height:0px;
}
#u2981 {
  position:absolute;
  left:434px;
  top:479px;
  width:366px;
  height:3px;
}
#u2982 {
  position:absolute;
  left:2px;
  top:-6px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:109px;
}
#u2983 {
  position:absolute;
  left:598px;
  top:426px;
  width:122px;
  height:109px;
}
#u2984 {
  position:absolute;
  left:2px;
  top:46px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2985 {
  position:absolute;
  left:617px;
  top:540px;
  width:125px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2986 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2987 {
  position:absolute;
  left:788px;
  top:13px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2988 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u2989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:205px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:33px;
}
#u2989 {
  position:absolute;
  left:940px;
  top:947px;
  width:676px;
  height:205px;
  font-size:18px;
  line-height:33px;
}
#u2990 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
#u2991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2991 {
  position:absolute;
  left:901px;
  top:860px;
  width:289px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2992 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
