body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:463px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:468px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:44px;
}
#u2993 {
  position:absolute;
  left:209px;
  top:312px;
  width:254px;
  height:468px;
  font-size:16px;
  line-height:44px;
}
#u2994 {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  word-wrap:break-word;
}
#u2995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2995 {
  position:absolute;
  left:204px;
  top:255px;
  width:123px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2996 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
